<div class="mt-3 bg-event-bg shadow p-3 rounded bg-gradient">
    <div class="card-header d-flex justify-content-between align-items-center p-3 mb-1 rounded">
      <h5>Eventos</h5>
      <div class="form-group d-flex align-items-center">
        <input type="search" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filterList">
        <!-- <button class="btn btn-outline-succes">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button> -->
      </div>
  </div>
  <div class="card shadow-lg rounded bg-event-card bg-gradient">
    <div class="card-header d-flex justify-content-around align-items-center">
      <button type="button" class="btn btn-outline-dark btn-sm" (click)="expandImg()">
        <i class="fa-regular fa-image"></i>
      </button>
      <label class="fs-4">Tema</label>
      <label class="fs-4">Local</label>
      <label class="fs-4">Data</label>
      <label class="fs-4">Qtd Pessoas</label>
      <label class="fs-4">Lote</label>
    </div>
  </div>
</div>
  <div *ngIf="events.length">
    <div *ngFor="let event of eventsFilters" class="card mt-2 bg-event-card shadow-lg rounded">
      <div class="d-flex justify-content-around mt-3 ">
        <div>
          <div [collapse]="!isExpand" [isAnimated]="true">
            <img src="/assets/img/{{event.imageUrl}}" [style.width.px]="widthImg" [style.margin.px]="marginImg">
            <!--teste binding nos estilos das img-->
          </div>
        </div>
        <div>
          <h5 class="text-center">{{event.eventName}}</h5>
        </div>
        <div>
          <h5 class="text-center">{{event.localEvent}}</h5>
        </div>
        <div>
          <h5 class="text-center">{{event.dateEvent}}</h5>
        </div>
        <div>
          <h5 class="text-center">{{event.quantityPeopleLimit}}</h5>
        </div>
        <div>
          <h5 class="text-center">{{event.eventLot}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!events.length" class="card text-center mt-3">
    <h4>Eventos não encontrados!</h4>
  </div>