<nav class="navbar navbar-expand-lg navbar-dark bd-subnavbar">
  <a class="navbar-brand ms-3" href="#">WernerEvents</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link ms-2" href="#">Eventos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2" href="#">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2" href="#">Contatos</a>
      </li>
    </ul>
    <div class="btn-group navbar-nav me-5" dropdown>
      <button id="button-basic" dropdownToggle class="nav-link dropdown-toggle"
              aria-controls="dropdown-basic">
        Button dropdown 
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

